<h2><%= "Category: #{@category.name}" %></h2>

<% if logged_in? && current_user.admin? %>
  <p><%= link_to 'Edit category', edit_category_path(@category), class: 'btn btn-sm btn-primary' %></p>
<% end %>




<% @category_articles.each do |article| %>
    <%= render('/articles/article', {article: article} ) %>
<% end %>

<%= render('/shared/pagination', {collection: @category_articles} ) %>